################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/Motorcycle.UnitTests/bin/Debug/net9.0
/src/Motorcycle.UnitTests/obj
/src/Services/Motorcycle/Motorcycle.API/bin/Debug/net9.0
/src/Services/Motorcycle/Motorcycle.API/obj
/src/SharedKernel/obj/Debug/net9.0
/src/SharedKernel/obj
/src/Services/Motorcycle/Motorcycle.API/.vs/Motorcycle.API/v17
/src/SharedKernel/bin/Debug/net9.0
/src/Bike4Me.API/bin/Debug/net9.0
/src/Bike4Me.API/obj
/src/Bike4Me.Application/bin/Debug/net9.0
/src/Bike4Me.Application/obj
/src/Bike4Me.Domain/bin/Debug/net9.0
/src/Bike4Me.Domain/obj
/src/Bike4Me.Infrastructure/bin/Debug/net9.0
/src/Bike4Me.Infrastructure/obj/Debug/net9.0
/src/Bike4Me.Infrastructure/obj
/tests/Bike4Me.FunctionalTests/bin/Debug/net9.0
/tests/Bike4Me.FunctionalTests/obj
/tests/Bike4Me.IntegrationTests/bin/Debug/net9.0
/tests/Bike4Me.IntegrationTests/obj
/tests/Bike4Me.UnitTests/bin/Debug/net9.0
/tests/Bike4Me.UnitTests/obj
/.containers/motorcycles-db
/.vs
/bin/Debug
/obj
/.containers
